/* 
    Document   : Ereignis.css
    Created on : 15.07.2012, 17:37:23
    Author     : kkapsner
    Description:
        Purpose of the stylesheet follows.
*/
article.DBItem table {
	border-collapse: collapse;
}
article.DBItem td {
	vertical-align: top;
	padding: 0.25em 0.5em 0.25em 0.2em;
}
article.DBItem table tr + tr > td {
	border-top: 1px solid lightgray;
}

img.DBItemFieldFileItem {
	max-height: 200px;
}

.dbItem input[type=text], .dbItem select, .dbItem textarea {
	width: 100%;
}

.classifications label{
	overflow: hidden;
}
.classifications label input[type=checkbox]{
	position: absolute;
	bottom: 100%;
	right: 100%;
}

.classifications label input[type=checkbox] + img{
	opacity: 0.2;
}

.classifications label input[type=checkbox]:checked + img{
	opacity: 1;
}